@import "reset";
@import "variables";
@import "mixin";



body {

  font-size: $font-size;
  font-family: $body-font-family;
  font-color: $font-color;
  margin: 0 auto;
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.35)), url("../images/soccer.jpg")no-repeat center center;
  background-size: cover;

}


header{ 
width: 100%;
background: url("../images/ademir2.jpg")no-repeat center center;
background-size: cover;
@include bp(desktop) {
background: url("../images/imagem2610.png")no-repeat center center;
background-size: cover;
}
.origin{
  height: 145px;
  width: 100%;
  padding-top: 23px;
  @include bp(tablet) {
  padding-top: 15px;
}
  @include bp(desktop) {
    padding-bottom: 10px;
  }
}

}
h1 {
  font-size: 29px;
  font-family:'Open Sans', sans-serif;
  text-align: center;
  color: #E8C733;
  padding-top: 5px;

span { color: #E8C733;
      font-size: 18px;
}

.skunks { color: #E8C733;
          font-size: 29px;
    }

@include bp(tablet) {

  padding-top: 0px;
  font-size: 28px;

}

@include bp(desktop) {
  font-size: 40px;
}

}

h3{
  display: none;
}

.logos{
  width: 100%;
  text-align: center;
img.logo {
  width: 29%;
  padding-bottom: 55px;
}

img.logo2{
  width: 20%;
  padding: 0px 5px 80px 0px;
}
img.logo3{
  width: 15%;
  padding-bottom: 65px;
}
@include bp(tablet) {
    width: 55%;
    padding-left: 135px;
    padding-top: 5px;
}
@include bp(desktop) {
  width: 35%;
  padding: 0px 0px 0px 340px;
}
}


.intro{
  display: flex;
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/evair1.jpg") fixed no-repeat center center;
  background-size: cover;
  height: 720px;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include bp(desktop) {
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.55)), url("../images/ze5.jpg") no-repeat center center;
  background-size: cover;
  }

.introtext{
  color: #E8C733;
  text-align: center;
  line-height: 2rem;
  font-family: $body-font-family;
  padding: 0px 5px 0px 5px;

  @include bp(tablet) {
    line-height: 3.5rem;
}
@include bp(desktop) {
  font-size: 1,25rem;

}
}
}

.fixed-header{
 position: fixed;
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.95)), url("../images/bomb2.jpg") no-repeat center center;
  background-position: cover;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  height: 145px;
  @include bp(desktop) {
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.35)), url("../images/flames2.jpg") no-repeat center center;
  background-position: cover;
  }
  h1{
    color: white;
  }
  span{
    color: white;
  }
  .skunks{
    color: white;
  }
  h3{
  display: block;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: yellow;
  padding-bottom: 2px;
  @include bp(desktop) {
    display: none;
}
}

}
.matches{
  background: url("../images/bomb2.jpg") fixed no-repeat center center;
  padding-top: 10px;
  @include bp(desktop) {
  background: url("../images/flames2.jpg") fixed no-repeat center center;
  }
}

h2{ font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #124035;
  padding: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  li{
    padding: 5px;
  }
}

li img{
  width: 50%;
  height: 80%;
  border-radius: 80%;
  @include bp(desktop) {
    width:40%;
    height:80%;
    border-radius: 80%;
}
}
// Hover effects - transition
a img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

//

.estatisticas{
  background: url("../images/bomb2.jpg") fixed no-repeat center center;
  padding: 10px 0px 10px 0px;
  text-align: center;
  @include bp(desktop) {
  background: url("../images/flames2.jpg") fixed no-repeat center center;
  }
  img{
    width: 40%;
    height: 50%;
    border-radius: 50%;
    @include bp(tablet) {
      width: 30%;
      height: 30%;
      border-radius: 100%;
  }
   @include bp(desktop) {
      width: 20%;
      height: 80%;
      border-radius: 80%;
}
}
}


// Footer

footer{
  background: url("../images/bomb2.jpg") fixed no-repeat center center;
  width: 100%;
  height: 225px;
  @include bp(desktop) {
  background: url("../images/flames2.jpg") fixed no-repeat center center;
  }
  .socialmedia{
    text-align: center;
    font-size: 30px;
    padding: 30px;
    i{
      padding-right: 10px;
      color: #124035;
    }
  }
  .credits{
    text-align: center;
    font-size: 18px;
    color: #124035;
    font-family: $body-font-family;
  }
  .nav{
    padding: 20px;
    line-height: 1.70rem;
    text-align: center;
    li a{
      font-size: 20px;
      color: #124035;
      font-family: $body-font-family;
      text-decoration: none;
    }
      li a:hover{
        color: white;
      }
    }
    i:hover{color: red;}
}
// Other pages

.specifics{
  padding:0.75rem;
}

.headings{
  font-family:$body-font-family;
  color: white;
  font-size: 20px;
  padding-top: 5px;
  line-height: 1.35rem;
}
.subheadings{
  font-family: $body-font-family;
  color: #E8C733;
  font-size:18px;
  padding-top: 5px;
  line-height: 1.25rem;
}

.hero{
  width: 40%;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.stats{
  font-family: $body-font-family;
  line-height: 1.25rem;
  padding: 10px;
  color: white;
}

.video {
  text-align: center;
  padding: 10px;
  h5{ font-size: 10px;
      color: white;
      padding-top: 5px;
  }
  iframe{
    width:100%;
  }
}

.final1 {
  padding: 15px;
  color: #E8C733;
}

.final2{
  padding: 15px;
  color: #E8C733;
}

// Iphones
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 580px)
and (-webkit-min-device-pixel-ratio: 2) {
    header {
      background: url("../images/ademir2.jpg")no-repeat center center;
      background-size: cover;
    }
    .logos{
      width: 85%;
      padding-left: 1.5rem;
    }
    
    .container0 {
      background: url("../images/bomb2.jpg") fixed no-repeat center center;
    }
    .intro {
      background: green;
    }

}
